<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CADisableMinimumFrameDurationOnPhone</key>
        <true />
        <key>UILaunchScreen</key>
        <dict>
            <key>UIColorName</key>
            <string>background</string>
            <key>UIImageRespectsSafeAreaInsets</key>
            <false />
            <key>UILaunchScreen</key>
            <dict />
        </dict>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>
                        com.googleusercontent.apps.620735012273-2fooqto7mqjbg0bbq7egaulg1sgk1on4
                    </string>
                </array>
            </dict>
        </array>
    </dict>
</plist>
